<%- include('./partials/navbar') %> 
  <!-- Page Content -->
  <div class="container">

    <div class="row">

     <div class="col-lg-3">
        <!-- <h1 class="my-4"> </h1> -->

      </div> 
      <!-- /.col-lg-3 -->

      <div class="col-lg-7">

        <div class="card mt-2">
          <img class="card-img-top img-fluid" width="200" height="100" src="<%= data.url %>" >
          <div class="card-body">
            <h3 class="card-title"><%= data.product_name %></h3>
            <h4><%= data.formatRupiah() %></h4>
          </div>
        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Product Description
          </div>
          <div class="card-body">
            <p><%= data.description %></p>
            <small class="text-muted">Current stock: <%= data.stock %> pcs left</small>
            <hr>
            <form action="/cart/add/<%= data.id %>" method="POST">
                <input type="submit" value="Add to cart">
              </form> 
          </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>


<%- include('./partials/footer') %> 